<h1>Chores</h1>
        <ul>
        <% todos.forEach( el => { %>
                <li class='todoItem d-flex justify-content-between' data-id='<%=el._id%>'>
                    <span><%= el.todo %></span>
                    <i class="bi-trash del"></i>
                    <div class="form-check form-switch">
                      <input class="<%= el.completed === true ? 'completed' : 'not'%> form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" <% if(el.completed === true){ %> checked <%} %>>
                    </div>
                </li>
        <% }) %>    
        </ul>

        <h2><%= user.userName %> has <%= left %> things left to do.</h2>