<h1>Rewards</h1>
<ul>
<li class='bg-secondary ps-3 mb-2 text-light rounded todoItem d-flex justify-content-between pe-3 me-3'>
        <span>Claim</span>
        <span>Desc</span>
        <span>Points</span>
        <span>Repeat</span>
        <span>Delete</span>
</li>
<% rewards.forEach( el => { %>
        <li class='shadow border <%= el.points <= user.points ? 'bg-success' : 'bg-dark'%> ps-3 mb-2 text-light rounded todoItem d-flex justify-content-between pe-3 me-3' data-reoccurance="<% if(el.reoccuring === true){ %>reoccuring<%} %>" data-type='reward' data-id='<%=el._id%>'>
                <div class="form-check form-switch">
                        <input class="reward <%= el.completed === true ? 'completed' : 'not'%> form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" <% if(el.points > user.points){ %> disabled <%} %>  <% if(el.completed === true){ %> checked <%} %>>
                </div>
                <span><%= el.reward %></span>
                <span class="points"><%= el.points %></span>
                <span><% if(el.reoccuring === true){ %> <i class="bi-arrow-repeat"></i> <%} %></span>
                <i class="bi-trash del"></i>
        </li>
<% }) %>    
</ul>