<h1>Rewards</h1>
<table>
  <thead>
    <tr class='bg-secondary text-light todoItem'>
      <th>Claim</th>
      <th>Desc</th>
      <th>Points</th>
      <th>Repeat</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% rewards.forEach( el => { %>
      <tr class='border <%= el.points <= user.points ? 'bg-success' : 'bg-dark'%> text-light rounded todoItem' data-reoccurance="<% if(el.reoccuring === true){ %>reoccuring<%} %>" data-type='reward' data-id='<%=el._id%>'>
        <td class="ps-5 form-check form-switch">
                <input class="reward <%= el.completed === true ? 'completed' : 'not'%> form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" <% if(el.points > user.points){ %> disabled <%} %>  <% if(el.completed === true){ %> checked <%} %>>
        </td>
        <td><%= el.reward %></td>
        <td class="points"><%= el.points %></td>
        <td>
          <% if(el.reoccuring === true){ %> <i class="bi-arrow-repeat"></i> <%} %></span>
          </i>
        </td>
        <td><i class="bi-trash del"></i></td>
      </tr>
    <% }) %> 
  </tbody>
</table>